@font-face {
font-family: 'CatShop';
font-style: normal;
font-weight: normal;
src: local('CatShop'), url('CatShop.woff') format('woff');
}

h1{
	font-family: 'CatShop';
	font-weight: 200;
	color:#0ccac4;
}